@for (image of answerPicture(); track $index)
{
    <img [src]="image" height="200" onerror="this.style.display='none'"/>
}

<div class="options">
    @for (child of currentChildren(); track child.id)
    {
        <p-button
            label="{{child.scientificName}} - {{child.type}} - {{child.children}}"
            [variant]="guessed().includes(child.id) ? undefined : 'outlined'"
            [severity]="guessed().includes(child.id) ? (child.correct ? 'success' : 'danger') : 'secondary'"
            (onClick)="appendGuess(child.id)"/>
    }
</div>