@for (image of answerPicture(); track $index)
{
    <img [src]="image" height="200" onerror="this.style.display='none'"/>
}

<div class="options">
    @for (child of currentChildren(); track child.id)
    {
        <div class="option">
            <p-button
                label="{{child.scientificName}} - {{child.type}} - {{child.children}}"
                [variant]="child.guessed ? undefined : 'outlined'"
                [severity]="child.guessed ? (child.correct ? 'success' : 'danger') : 'secondary'"
                (onClick)="appendGuess(child)"/>
            {{ child.description }}
        </div>
    }
</div>