@for (image of answerPicture(); track $index)
{
    <img [src]="image" height="200" onerror="this.style.display='none'"/>
}

<div class="options">
    <div class="hearts">
        @for (icon of lives(); track $index)
        {
            <span class="pi {{icon}}" style="color: var(--p-primary-color)"></span>
        }
    </div>
    @for (child of currentChildren(); track child.id)
    {
        <div class="option">
            <p-button
                label="{{child.scientificName}} - {{child.type}} - {{child.children}}"
                [variant]="child.guessed ? undefined : 'outlined'"
                [raised]="true"
                [severity]="child.guessed ? (child.correct ? 'success' : 'danger') : 'secondary'"
                (onClick)="appendGuess(child)"/>
            {{ child.description }}
        </div>
    }
</div>
@if (currentLevel() === answer() || wrongGuesses() === 5)
{
    <app-finished-page
        [livesLeft]="5 - wrongGuesses()"
        [speciesLeft]="speciesLeft()">
    </app-finished-page>
}